
  <br>

  <div class="container">

    <div class="jumbotron">
      <h1><i class="fa fa-clone" aria-hidden="true"></i> Clone Book App</h1>
      <hr>
      <h2>Error 404 - The page is not found!!! </h2>

      <br>

      <div class="text-center">
        <a href="/index"><button class="btn btn-lg btn-default"><span class="fa fa-home"></span></button></a>
      </div>

    </div>

   

  </div>

<!-- //////////////////////////////////////////////////////////////////////////////// -->



  <!-- ///////////////////////////////FOOTER///////////////////////////////////////////////// -->
    <footer >

      
    </footer>
    <!-- ///////////////////////////////////////////////////////////////////////////////////////// -->

 